<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Data</title>
</head>
<body>
    <h1 id="ptlistHeader">Patient Records</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr class="tableTitle">
                    <th>PT ID</th>
                    <th>Name</th>
                    <th>Insurance</th>
                    <th>Date Of Birth</th>
                    <th>Reason For Visit</th>
                    <th>Blood Work</th>
                    <th>X-Ray</th>
                    <th>MRI</th>
                    <th>CT</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% patients.forEach(patient => { %>
                    <tr class="ptinfo">
                        <td><%=patient.pID%></td>
                        <td><%=patient.name%></td>
                        <td><%=patient.insurance%></td>
                        <td><%=patient.dateOfBirth%></td>
                        <td><%=patient.reasonOfVisit%></td>
                        <td><%=patient.bloodWork%></td>
                        <td><%=patient.xRay%></td>
                        <td><%=patient.mRI%></td>
                        <td><%=patient.cT%></td>
                        <td>
                            <a href="/ptview/<%= patient.pID %>">View Details</a>
                        </td>
                        <td>
                            <a href="/edit-patient/<%= patient._id %>">Edit</a>
                        </td>
                        <td>
                            <form action="/delete-patient/<%= patient._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="ptlistbtns">
            <a href="/logout" class="ptlistbtn">
                <button>Log Out</button>
            </a>
            <a href="/dashboard" class="ptlistbtn">
                <button>Home</button>
            </a>
        </div>
    </div>
</body>
</html>
